In [ ]:
# 안경책 13장 1번

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.4'

In [19]:
nsmc_train_df = pd.read_csv('./ch13_data/ratings_train.txt', encoding = 'utf-8', sep = '\t')
nsmc_train_df[:3]

         id                           document  label
0   9976970                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                  너무재밓었다그래서보는것을추천한다      0

In [20]:
nsmc_train_df.info()     # 5개의 결측치 존재.(document column 에.)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [21]:
nsmc_train_df = nsmc_train_df[nsmc_train_df['document'].notnull()]  # null data 삭제.

In [22]:
nsmc_train_df.info()    # 결측치 제거!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [23]:
nsmc_train_df['label'].value_counts()

0    75170
1    74825
Name: label, dtype: int64

In [24]:
nsmc_train_df['document'][100:200]

100              신카이 마코토의 작화와,미유와 하나카나가 연기를 잘해줘서 더대박이였다.
101                                 재미없음 진심 1이훨나 캐스팅두못한듯
102                            잔잔한게 생각보다 볼만한 영화인거 같습니다 ㅋ
103                                 감독님들 고은님 쓰면 영화안봅니다 .
104                                   무섭지도 않았고 스토리도 ..ㅡㅡ
                             ...
195                나름 추억에 젖어들고 좋았음ㅋㅋ아무생각없이 가볍게 보고오기 추천요~
196                                        단순한 싸이코물을 벗어난
197    이게 14년도에 만들어진건가요? 아니면 예전에 만든거 다시개봉한건가요?ㅠ너무 허접해요 ㅠ
198            넘 사랑스러운 영화다 ㅠㅠ 1보고 2 연이어 봤다~!! 넘 귀여워 ㅠㅠ♥♥
199    청춘 영화만이 줄 수 있는 감성이 넘쳐난다. 이 순간 지나가면 다시 돌아오지 않을테...
Name: document, Length: 100, dtype: object

In [25]:
import re

In [28]:
nsmc_train_df['document'] = nsmc_train_df['document'].apply(lambda x:re.sub(r'[^ ㄱ-ㅣ가-힣]' , " ", x))

In [29]:
nsmc_train_df['document'][100:200]

100              신카이 마코토의 작화와 미유와 하나카나가 연기를 잘해줘서 더대박이였다
101                                 재미없음 진심  이훨나 캐스팅두못한듯
102                            잔잔한게 생각보다 볼만한 영화인거 같습니다 ㅋ
103                                 감독님들 고은님 쓰면 영화안봅니다
104                                   무섭지도 않았고 스토리도   ㅡㅡ
                             ...
195                나름 추억에 젖어들고 좋았음ㅋㅋ아무생각없이 가볍게 보고오기 추천요
196                                        단순한 싸이코물을 벗어난
197    이게   년도에 만들어진건가요  아니면 예전에 만든거 다시개봉한건가요 ㅠ너무 허접해요 ㅠ
198            넘 사랑스러운 영화다 ㅠㅠ  보고   연이어 봤다    넘 귀여워 ㅠㅠ
199    청춘 영화만이 줄 수 있는 감성이 넘쳐난다  이 순간 지나가면 다시 돌아오지 않을테...
Name: document, Length: 100, dtype: object