In [6]:
a = "Life is ~~~~"

In [7]:
a1 = a[0:4]

In [8]:
a2 = a[0:5]

In [9]:
if a1==a2:
    print("같다")
else:
    print("다르다")

다르다

In [11]:
print(a1, len(a1))
print(a2, len(a2))

Life 4
Life  5

In [12]:
a2.rstrip()

'Life'

In [36]:
words1 = '딸기, 바나나, 수박'

In [37]:
bananaFromWords1 = words1[4:7]
print(bananaFromWords1)

바나나

In [43]:
wordToFind = "바나나"
len("바나나")
print(len("바나나"))
indexOfBanana = words1.find(wordToFind)
bananaFromWords1 = words1[indexOfBanana:indexOfBanana+len("바나나")]
print(bananaFromWords1)

3
바나나

In [19]:
# wmFromWords1 = words1[9:11]
wmFromWords1 = words1[9:]
print(wmFromWords1)

수박

In [20]:
sbFromWords1 = words1[:2]
print(sbFromWords1)

딸기

In [47]:
a="Pithon"

In [48]:
a[1]

'i'

In [49]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [50]:
a[:1]

'P'

In [51]:
a[2:]

'thon'

In [54]:
a2 = a[:1] + 'y' + a[2:]
print(a2)

Python

In [56]:
a = a2
print(a)

Python

In [73]:
name1 = "정제원"; major1 = "IT"; howmanyphone1 = 5
name2 = "김한남"; major2 = "BT"; howmanyphone2 = 3
print("name"+"\t"+"major"+"\t"+"howmanyphone")
print(name1+"\t"+major1+"\t"+""+"%10s"%str(howmanyphone1))
print(name2+"\t"+major2+"\t"+""+"%10s"%str(howmanyphone2))

name	major	howmanyphone
정제원	IT	         5
김한남	BT	         3

In [75]:
print("%s" "120")
print("%s" % "120")
print("%10s" % "120")

%s120
120
       120

In [76]:
print("%-s" % "120")
print("%-10s" % "12000") #10칸을 만들때 왼쪽부터 채우기

120
12000

In [79]:
print("%0.2f" % 120)
print("%0.2f" % 12000)

120.00
12000.00

In [80]:
print("%10.2f" % 120) # 총 10자리(10) + 소수점 2자리(.2)까지 표현
print("%10.2f" % 12000)

    120.00
  12000.00

In [82]:
"{0}론 나는 {0}을 {1} 싶다".format("물","마시고")

'물론 나는 물을 마시고 싶다'

In [83]:
"{0:<10}".format("120")

'120       '

In [84]:
"{0:>10}".format("120")

'       120'

In [85]:
"{0:^10}".format("120") # 가운데 정렬

'   120    '

In [86]:
"{0:=^10}".format("120") #빈칸채우기

'===120===='

In [102]:
name="111"
age=120
"나의 이름은 {0}입니다. 나이는 {1}까지 살고 싶어요".format(name,age)

'나의 이름은 111입니다. 나이는 120까지 살고 싶어요'

In [103]:
f"나의 이름은 {name}입니다. 나이는 {age}까지 살고 싶어요"

'나의 이름은 111입니다. 나이는 120까지 살고 싶어요'

In [104]:
len("바나나")

3

In [107]:
"내가 가장 좋아하는 바나나 크기가 큰 바나나 입니다. 왜냐면 작은 바나나는\
같은 무게를 사도 껍질로 다 버려져요".count("바나나")

3

In [109]:
",".join("abcd")

'a,b,c,d'

In [110]:
",".join(["abc","def","ghi"]) # 몇 단어를 묶어서 리스트화

'abc,def,ghi'

In [113]:
# 숫자만으로 저장된 전화번호를 DB에서 얻었다. 010-1234-5678 이번호를 입력하자
# 010 - 1234 -5678  01012345678
"-".join(["010", "2170", "5678"])

'010-2170-5678'

In [120]:
a = "I love apple. because apple is so sweet."
b = a.replace("apple", "peach")
print(b)

I love peach. because peach is so sweet.

In [121]:
# 010 - 1234 -5678 --> '01012345678'
a = "010-1234-5678"
b = a.replace("-","")
print(b)

01012345678

In [124]:
a = "life is too short"
a.split()

['life', 'is', 'too', 'short']

In [125]:
b="a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [128]:
# 010 - 1234 -5678 --> '010''1234''5678'
a = "010-1234-5678"
b = a.split("-")
print("식별번호:",b[0], ", 국번",b[1], ", 개인번호",b[2])

식별번호: 010 , 국번 1234 , 개인번호 5678

In [131]:
a = []
print(a)
e = [ 1, 2, [3, 4]]
print(e)
print(len(e))
print(e[0])
print(e[2])
print(e[2][1])

[]
[1, 2, [3, 4]]
3
1
[3, 4]
4

In [133]:
str1 = "abc"
print(str1[2])
#str1[2]="d" "d"추가가 안됨

a = [1,2,3] # 숫자는 가능
a[2] = 4
print(a)

c
[1, 2, 4]

In [143]:
a = ['가', '다', '라', '나']
a.sort()
print(a)

['가', '나', '다', '라']

In [147]:
a = ['가', '다', '라', '나']
a2 = a[:]
a2.sort()
print(a2)

['가', '나', '다', '라']

In [ ]:
print(a)

In [150]:
a = ['가', '다', '라', '나']
a2 = sorted(a) # sorted를 사용하면 원본 데이터 보존
print(a2)
print(a)

['가', '나', '다', '라']
['가', '다', '라', '나']

In [151]:
a = ['가', '다', '라', '나']
a.sort(reverse = True)
print(a)

['라', '다', '나', '가']

In [152]:
a = ['가', '다', '라', '나']
a2 = sorted(a, reverse = True) 
print(a2)
print(a)

['라', '다', '나', '가']
['가', '다', '라', '나']

In [157]:
a = [1,2,3]
a.pop(1)
print(a)

[1, 3]

In [159]:
a1 = [1, 2]
a2 = [3, 4]
new1 = a1+a2
print(new1)
a1.extend(a2) ; print(a1)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [160]:
my_dic1 = {} # 딕셔너리는 {}로 표현

In [161]:
my_dic1["banana"]="노랗고 달콤한 과일"

In [162]:
my_dic1["strawberry"]="새콤 달콤 빨간 과일"

In [163]:
my_dic1

{'banana': '노랗고 달콤한 과일', 'strawberry': '새콤 달콤 빨간 과일'}

In [170]:
# del my_dic1[0]
del my_dic1["banana"]

In [172]:
my_dic1.keys()

dict_keys(['strawberry'])

In [180]:
a = ['strawberry', 'banana']
print(a)

['strawberry', 'banana']

In [182]:
my_dic1["banana"]="노랗고 달콤한 과일2"
my_dic1

{'strawberry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일2'}

In [183]:
if 3>1:
    print("참")
if 4<10:
    print("참")

참
참

In [184]:
if 3<1:
    print("참")
else:
    print("거짓")

거짓

In [185]:
1 in [1, 2, 3]

True

In [186]:
1 not in [1, 2, 3]

False