In [1]:
import sqlite3

In [2]:
query = "CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"
con = sqlite3.connect('mydata.sqlite')
con.execute(query)

OperationalError: table test already exists

In [3]:
con.commit()

In [4]:
data = [('atlanta', 'georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

In [5]:
query = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [6]:
con.executemany(query, data)
con.commit()

In [7]:
query = "SELECT * FROM test"
cur = con.execute(query)

In [8]:
rows = cur.fetchall()

In [9]:
rows

[('atlanta', 'georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('atlanta', 'georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]