In [1]:
1 in [1, 2, 3]

True

In [2]:
4 in [1, 2, 3] # 4 not in [1, 2, 3] 도 가능 = 출력값 True

False

In [4]:
a = 1
if a == 1:print("a는 1")

a는 1

In [9]:
treeHit = 0
while treeHit <= 10:
    print("나무를 "+str(treeHit)+"번 찍었습니다." )
    if treeHit == 10: print("나무 넘어갑니다")
    treeHit += 1 #treeHit = treeHit + 1

나무를 0번 찍었습니다.
나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [12]:
a = input("정수를 입력하세요") # 입력할 수 있는 빈칸 생성
a = int(a) + 1 # int를 이용해서 숫자처리
print(a)

정수를 입력하세요100
101

In [ ]:
list_a = []
count = 1 # count = 0
print("온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요")
while True: # count < 4:
    recieved = input("온도를 입력하세요")
    if recieved == "-500": break # break 걸릴 수 있게끔 입력값 처리 주의
    if recieved > "50" or recieved < "-40": continue
    recieved = int(recieved)
    list_a.append(recieved)
    count += 1
print (list_a)

온도를 입력하세요 단, 입력을 멈추려면 -500을 입력하세요

In [3]:
a = range(10)
print(a)

range(0, 10)

In [5]:
for i in range(10):
    print(i, end=" ") # end =" " 출력값 가로로 줄바꿈

0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range(5, 10):
    print(i, end=" ")

5 6 7 8 9

In [8]:
for i in range(1, 11, 2): #range(N부터, N까지, N간격으로)
    print(i, end=" ")

1 3 5 7 9

In [3]:
for i in range(10, 0, -1): #range로 반대로 출력
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [4]:
a = [1, 4, 7, 10]
for i in a:
    print(i, end=" ")

1 4 7 10

In [9]:
a = [1, 2, 3, 4]
res = []
for i in a:
    res.append(a*3)
print(res, end=" ")

[[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]]

In [10]:
a = [1, 2, 3, 4]
res = [num*3 for num in a]
print(res, end=" ")

[3, 6, 9, 12]

In [11]:
a = [1, 2, 3, 4]
res = [num*3 for num in a if num % 2 == 0]
print(res, end=" ")

[6, 12]

In [26]:
a = [1, 2, 3, 4]
res = []
for i in a:
    if i % 2 == 0:
        res.append(i*3)
print(res, end=" ")

[6, 12]

In [28]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1
print(result)

166833

In [4]:
i = 0
while True:
    i += 1
    if i > 5:break
    print(i*"#")

#
##
###
####
#####

In [7]:
i = 5
while True:
    i += -1
    if i < 1:break
    print(i*"#")

####
###
##
#

In [16]:
i = 0 ## 반복문 이중으로 사용하기
while True:
    i += 1
    if i > 5:break
    for j in range(i): #print("*"*i)
        print("#", end="")
    print("")

#
##
###
####
#####

In [39]:
for i in range(1,101):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [28]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [36]:
i = 0
while True:
    i -=60
    if i < 0:break
    for i in range(60,0):
    print(i, end=" ")

IndentationError: expected an indented block (<ipython-input-36-3cad4d5ca9fa>, line 6)

In [50]:
# 방법 1
i = 61 
while True:
    i -= 1
    if i < 0:break
    print(i, end=" ")
print("\n발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사!

In [58]:
# 방법 2
num = 60
while num >=0:
    print(num, end=" ")
    num -= 1
print("\n발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사!

In [59]:
# 방법 3
for i in range(60, -1, -1):
    print (i, end=" ")
#print("") 이렇게 해도 가능
print("\n발사!")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0
발사!

In [63]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i*j, end=" ")
    print()

1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81