In [42]:
for i in range(1, 11):
    #숫자 출력 파트
    for j in range(1, i):
        print(" ", end="")
    # 별 출력 파트
    for j in range(1, 10):
        print("*", end="")
    print('')

*********
 *********
  *********
   *********
    *********
     *********
      *********
       *********
        *********
         *********

In [60]:
# 정답
for hang in range(10):
    # 빈칸출력
    for space in range(0,hang):
        print(" ",end="")
    # 별출력
    for star in range(10):
        print("*" ,end="")
    print('')

**********
 **********
  **********
   **********
    **********
     **********
      **********
       **********
        **********
         **********

In [86]:
count_up = 0
for a in range(1, 101):
    for b in range(1, 101):
        for c in range(1, 101):
            if (a*a)+(b*b)==(c*c):
                count_up+=1
print(count_up)

104

In [1]:
# 1~999까지 자리수의 수가 서로 다른 수의 개수
# ( 나눗셈 후 몫을 반환하는 연산자 -> //, 나눗셈 후 나머지를 반환하는 연산자 -> %), (count_up 개수 함수)
count_up = 0
for num in range (1, 1000):
    d100 = (num//100)
    d10 = ((num%100)//10)
    d1 = (num%10)
    if d100!=d10!=d1!=d100: #d100, d10, d1이 각각 다른 숫자만 카운트(개수)
            count_up+=1
print(count_up)

720

In [3]:
# 정답
count_up = 0
# 자리수 별 숫자 빼오기
for num in range (1000):
    d100 = (num//100)
    d10 = ((num%100)//10)
    d1 = (num%10)
# if 함수를 이용해 자리수 불일치 개수 빼오기    
    if d100 != d10 and d10 != d1 and d100 != d1:
        count_up +=1
print(count_up, "개")

720 개

In [10]:
# 3의 2016승의 마지막 자리 숫자(1의 자리수)는 1, 이과정을 프로그램을 이용
num = 1
for i in range(2016):
    num*=3 #3의 2제곱, 3의 3제곱, N제곱 -> i
    if i ==2015:
        d1_of_num = num%10
print(d1_of_num)

1

In [11]:
# 이렇게도 가능
(3**2016)%10

1

In [20]:
# 내가 한거(실패함)
num=int(input("수 입력:"))
for num in range(682):
    if num%2==0:
        print(num / 2)
    else:
        i%2!==0:
            print((i*3+1)/2)

SyntaxError: invalid syntax (<ipython-input-20-aaec6e44257b>, line 6)

In [1]:
# 정답
num = int(input("수 입력:")) # 정수처리 
proc_count = 0 # 실행횟수 카운트
while True: # 일단 값이 정해져있지 않으니까 무한루프
    if num %2 == 0: # 2로 나누었을때 0 = 그러니까 짝수일때~
        num = int(num/2) # 그 값을 2로 나누어라
    else: #그게 아니면 (홀수일때~)
        num = int((3 * num +1)/2) # 그 값에 3을 곱하고 1을 더해서 2로 나누고
    proc_count+=1 # 이 과정을 카운트 해라
    if num == 1: break # 만약 그 값이 1이면 그만해라
    print(num, end="/")
    
print ("count:", proc_count)

수 입력:5
8/4/2/count: 4

In [6]:
# 반복 수행 명령문
def hello_5():
    print("안녕하세요1")
    print("안녕하세요2")
    print("안녕하세요3")

hello_5()

안녕하세요1
안녕하세요2
안녕하세요3

In [1]:
def add(a, b):
    c = a + b
    return c

num1 = int(input("숫자 1:"))
num2 = int(input("숫자 2:"))
result = add(num1, num2)
print(result)

숫자 1:1
숫자 2:2
3

In [9]:
def say_hi():
    return "hi"
print(say_hi())

hi

In [10]:
def say_hi_dont_care():
    print("hi")
say_hi_dont_care()

hi

In [11]:
def say_hi_dont_care2(a):
    print(a)
say_hi_dont_care2("hi")

hi

In [14]:
def sub2(a, b):
    return a - b
print(sub2(4, 2))
print(sub2(2, 4))
print(sub2(a=4, b=2))
print(sub2(b=2, a=4))

2
-2
2
2

In [16]:
def add_many(*args): #*args 앞에 *를 붙이면 입력값을 전부 모아서 튜플로 만들어준다(list처리)
    result = 0
    for i in args:
        result = result + i
    return result
print(add_many(1,2))
print(add_many(1,2,3,4))

3
10

In [18]:
def add_many(mode,*args):
    if mode =="sum":
        result = 0
        for i in args: result+=i
    elif mode =="mul":
        result=1
        for i in args: result*=i
    return result
print(add_many("sum",1,2))
print(add_many("mul",1,2,3,4))

3
24

In [19]:
def print_kwa(**a): #** 두개일 경우 dictionary 처리
    print(a)
print_kwa(a=1)

{'a': 1}

In [24]:
def add2(a, b): # 하나만 할 경우
    return a+b
c = add2(1, 2)
print(c)

def add_and_mul(a,b):
    return a+b, a*b
c, d = add_and_mul(1,2)
print("c:"+str(c)+",d:"+str(d))

3
c:3,d:2

In [25]:
def my_classify(a, b, c=1, d=2):
    print(a+b+c+d)
my_classify(2, 3)
my_classify(2, 3, 4)
my_classify(2, 3, 4, 5)

8
11
14

In [26]:
a = 1 #전역변수
def vartest(a):
    a = a + 1 #vartest함수의 지역변수 그러니까 전역변수 안에 지역변수 포함
vartest(a)
print(a)

1

In [27]:
a = 1 #전역변수
def vartest(a):
    a = a + 1 
    return a #return함수를 이용해서 vartest함수 적용시키기
a = vartest(a)
print(a)

2

In [28]:
a = 1
def vartest():
    global a
    a = a + 1 #vartest함수의 지역변수 그러니까 전역변수 안에 지역변수 포함
vartest()
print(a)

2

In [29]:
# lambda 함수
add_lam = lambda a, b: a + b
res = add_lam(3, 4)
print(res)

7

In [31]:
print("life is too short")
print("life", "is", "too short")

life is too short
life is too short

In [33]:
print("a", "b", "c")
print("a", "b", "c", sep="/")

a b c
a/b/c

In [36]:
# 파일 열기(r -> 읽기모드, w -> 쓰기모드, a -> 추가모드) #f.close() 빼먹지 않게 주의
f = open("새파일.txt", "w")
for i in range(1,11):
    data="%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [37]:
f = open("새파일2.txt", "w")
f.write("하이")
f.close()

In [38]:
f = open("새파일.txt", "r")
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [ ]:
f = open("새파일.txt", "r")
line = f.readline()
print(line)
f.close()

In [45]:
f = open("새파일2.txt", "r")
list1 = []
list2 = []
while True:
    line1 = f.readline()
    if not line1: break
    list1.append(line1)
f.close()
for item in list1:
    processed = item.replace("\n"," ")
    print(processed,end=" ")
    list2.append(processed)
print(list2)

하이하이하이하이  하이하이2  하이하이34  ['하이하이하이하이 ', '하이하이2 ', '하이하이34 ']